/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

 .source-mode-raw .markdown-source-view.mod-cm6 .cm-header {
   font-size: initial!important;
   font-weight: bold;
   text-decoration: none;
   text-transform: unset;
   font-variant:initial;
 }

 .source-mode-raw .markdown-source-view.mod-cm6 .cm-header.cm-formatting-header {
  color:var(--text-formatting);
 }

/* Font detection test element */
.font-test-element {
  position: absolute;
  left: -99999px;
}

/* Settings UI components */
.settings-input-hidden {
  display: none;
}
